<div class="pb-1 mt-2"><a [routerLink]="['/pizza']" routerLinkActive="router-link-active"  class="btn btn-sm btn-warning float-right">Go To Back</a></div><br>


 <form [formGroup]="pizzaForm" (ngSubmit)="updatePizza()"  class="mt-5 border p-5 bg-light">
     <div class="col-md-12 col-md-offset-1">
         <div class="row">
           
            <div class="col-md-6 mb-3"><select class="form-control" formControlName="name" placeholder="Pizza Name">
               
                <option *ngFor="let pizaa of pizzaList"  [selected]="pizaa===pizaaName" value="{{pizaa}}">{{pizaa}}</option>
               
            </select>
           </div>
         
         <div class="col-md-6 mb-3"><select class="form-control" formControlName="size">
             <option *ngFor="let sizeN of sizes" [selected]="sizeN===size" value="{{sizeN}}">{{sizeN}}</option>
           
         </select>
        </div>
        
         <div class="col-md-4"><input type="text" class="form-control" formControlName="price" [value]="price" placeholder="Price"/></div>
         <div class="col-md-4"><select class="form-control" formControlName="toppings">
            <option *ngFor="let topping of toppingList" [selected]="topping===toppings" value="{{topping}}">{{topping}}</option>
           
        </select>
       </div>
      
       <div class="col-md-4">
     <input type="text" class="form-control" formControlName="quantity" [value]="quantity" placeholder="quantity"/>
    </div>
         <div class="col-md-12 mt-3 text-center"><input type="submit" class="form-control btn btn-success btn-block" name="submit" value="Update Pizza"/></div>
        </div>
     </div>
   
</form>



<!-- <table class="table table-border table-hover mt-5">
    <thead>
       
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Price</th>
            <th>Toppings</th>
            <th>Action</th>
        </tr>
    </thead>
   
    <tbody>
   
      
        <tr *ngFor="let pizza of allPizza">
            <td>{{pizza.name}}</td>
            <td>{{pizza.size}}</td>
            <td>{{pizza.price}}</td>
            <td>{{pizza.toppings}}</td>
            <td><a routerLink="/pizza/{{pizza._id}}" routerLinkActive="router-link-active" class="btn btn-primary btn-sm">Edit</a> <button class="btn btn-danger btn-sm" id="{{pizza._id}}" (click)="deletePizza($event)">Delete</button></td>
        </tr>
    </tbody>

</table> -->

