<button [routerLink]="['/admin-dashboard']" mat-raised-button color="primary">Dashboard</button>
<br>
<div class="mat-elevation-z8">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>
    <table mat-table [dataSource]="dataSource">
  
      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="staus">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <!-- Orders ID Column
      <ng-container matColumnDef="orders">
        <th mat-header-cell *matHeaderCellDef> Orders Id </th>
        <td mat-cell *matCellDef="let element"> {{element.orders}} </td>
      </ng-container> -->
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Active Botton Column -->
      <ng-container matColumnDef="active" >
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary"  (click)="chnageStsUser('active',element._id)">Active</button>
        </td>
      </ng-container>

      <!-- Inactive Botton Column -->
      <ng-container matColumnDef="inactive">
        <th mat-header-cell *matHeaderCellDef> Inactive </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn"  (click)="chnageStsUser('inactive',element._id)">Inactive</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  </div>